
// ====================================================================
// Imports
// ====================================================================
@import "partials/variables";
@import "partials/normalize";

//------centering the cells-----------//
.wrapper, .board{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}
.board{
	flex-direction: row;
	flex-wrap: wrap;
	width: 45vw;
	@media screen and (max-width: $small){
		width: 80vw;
		height: auto;
	}
}
.row{
	display: flex;
	flex-direction: row;
}
.cell{
	border: $border;
	width: $sqSize;
	height: $sqSize;
	border-bottom: none;
	border-left: none;
	border-right: none;
	@media screen and (max-width: $small){
		width: $sqSize *1.7;
		height: $sqSize *1.7;
	}
}

//drawing the right borders
#firstRow .cell{
	border-top: none;
}
.center{
	border-left: $border;
	border-right: $border;
}

//board
.boardGame{
	display: flex;
	flex-direction: column;
}

//header
.title{
	font-family: 'Raleway Dots', cursive;
	text-align: center;
	font-size: 4rem;
	color: $blue;
	margin-top: 1%;
}

//button
.button{
	display: inline-block;
	color: $red;
	margin-top: .5rem;
	background: none;
	border-radius: 5px;
}
.x{
	background-image: url(http://diegoluis.net/imageRep/tictactoe/x.svg);
	@include bgImg(13vw);
	@media screen and(max-width: $small){
		@include bgImg(13vw *1.7);
	}
}
.oO{
	background-image: url(http://diegoluis.net/imageRep/tictactoe/o.svg);
	@include bgImg(13vw);
	@media screen and(max-width: $small){
		@include bgImg(13vw *1.7);
	}
}
//selector of letters
.selector{
	background: $gray;
	position: absolute;
	width: 40%;
	left: 30%;
	top:30vh;
	margin: 0 auto;
	text-align: center;
	border-radius: 1rem;
	padding: 1rem;
	box-sizing: border-box;
	h2{
		text-align: center;
		font-size: 2rem;
		margin: 0;
	}
	.letter{
		display: inline-block;
		text-align: center;
		box-sizing: border-box;
		width: 40%;
		font-size: 12vw;
		font-family: helvetica,sans-serif;
		font-weight: bold;
		margin: 0 auto;
		margin-bottom: 1rem;
		cursor: pointer;
	}
	.xxx{
		color: $red;
	}& :hover{
		color: darken($red, 15%);
	} & :active{
		color: darken($red, 15%);
	}
	.ooo{
		color: $blue;
	}& :hover{
		color: darken($blue, 15%);
	}& :active{
		color: darken($blue, 15%);
	}
	@media screen and (max-width: $small){
		width: 94%;
		left: 3%;
	}
	@media screen and(max-width: $medium){
		width:60%;
		left: 20%;
	}
}
.hidden{
	visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s linear;
}
