$blue : #267499;
$red : #862424;
$gray: rgba(91, 91, 91, 0.5);

$sqSize : 14.5vw;
$border: .3rem solid #32373e;

//media queries
$small: 450px;
$medium: 786px;

//mixins

@mixin bgImg($size){
  background-size: $size $size;
	background-repeat: no-repeat;
	background-position: center;
}
